<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week12/6_20_22_SQL_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Exercise



[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading our [data](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing) into that database.

In [ ]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Read the data in as a Pandas Dataframe
school = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRtLDEwVA8XXd7-XHjvaU7zkMhlRlFjXExCXJZKdUpa6xrYpyaxUifltjgaN5wTFRA_bg_UXyFOB1p7/pub?gid=1976095986&single=true&output=csv')
# load table 2'
facility = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR5UNxWcE8ctwA8OFn2v0RmWfoIEUK_9dUqmXQCV3lbJwZ7JLjdDz6P3YbcFbCMHUxswF07RawZzX0V/pub?gid=601105917&single=true&output=csv')

In [ ]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DistrictName                1249 non-null   object
 1   EstablishmentCode           1249 non-null   object
 2   EstablishmentName           1249 non-null   object
 3   BRCName                     1249 non-null   object
 4   CRCName                     1249 non-null   object
 5   SchoolLevel                 1246 non-null   object
 6   ManagementName              1246 non-null   object
 7   LocalityHabitation          1221 non-null   object
 8   SubdivisionName             1241 non-null   object
 9   ConstituencyName            1249 non-null   object
 10  RevenueBlockName            1249 non-null   object
 11  CivicBodyName               1249 non-null   object
 12  WardName                    1249 non-null   object
 13  PostOfficeName              1249 non-null   object
 14  PhoneNo                     794 non-null    object
 15  FaxNo                       20 non-null     object
 16  EmailID                     182 non-null    object
 17  Website                     24 non-null     object
 18  LocatedInRuralOrUrban       1249 non-null   object
 19  DiseCode                    439 non-null    object
 20  EstablishedDate             1230 non-null   object
 21  DistrictHQDistance (in Km)  1246 non-null   float64
 22  CRCDistance (in Km)         1246 non-null   float64
 23  BACDistance (in Km)         1246 non-null   float64
 24  IsRecognized                1246 non-null   object
 25  RecognizedBy                1004 non-null   object
 26  ContactPersonName           0 non-null      float64
 27  LowestClass                 1246 non-null   object
 28  HighestClass                1246 non-null   object
 29  BoardName                   784 non-null    object
dtypes: float64(4), object(26)
memory usage: 292.9+ KB

### Create a SQLite Database

In [ ]:
# create sqlite engine and create empty database name school
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

In [ ]:
# add the dataframe as a table in sqlite
# school details table

try: 
  school.to_sql('schools', conn, if_exists='fail')
except:
  pass
# facility details table

try:
  facility.to_sql('facilities', conn, if_exists='fail')
except:
  pass

2022-09-02 22:01:50,144 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("schools")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("schools")

2022-09-02 22:01:50,148 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-09-02 22:01:50,173 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("facilities")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("facilities")

2022-09-02 22:01:50,176 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

- Lets see how is our table look like

In [ ]:
# Using SELECT view school_details data
query = """
SELECT *
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2022-09-02 22:03:47,261 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM schools

2022-09-02 22:03:47,266 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,28126,58.0,8.0,16.0,Recognized,HRDD,None,Class 1,Class 5,None
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,15342,50.0,0.0,6.0,Recognized,HRDD,None,Class 1,Class 12,C.B.S.E.
2,2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,...,37257.38681,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",None,Class 1,Class 10,C.B.S.E.
3,3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,...,28856,60.0,6.0,6.0,Recognized,State Govt.,None,Class 1,Class 8,None
4,4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,None,Class 1,Class 10,C.B.S.E.

In [ ]:
# Using SELECT view col1 from school
query = """
SELECT ContactPersonName, "DistrictHQDistance (in Km)"
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, engine)
df.head()

2022-09-02 22:05:54,233 INFO sqlalchemy.engine.Engine
SELECT ContactPersonName, "DistrictHQDistance (in Km)"
FROM schools

INFO:sqlalchemy.engine.Engine:
SELECT ContactPersonName, "DistrictHQDistance (in Km)"
FROM schools

2022-09-02 22:05:54,241 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

  ContactPersonName  DistrictHQDistance (in Km)
0              None                        58.0
1              None                        50.0
2              None                        49.0
3              None                        60.0
4              None                        52.0

What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [ ]:
# What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."
query = """
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, engine)
df

2022-09-02 22:07:21,472 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools

INFO:sqlalchemy.engine.Engine:
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools

2022-09-02 22:07:21,478 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

   avg_bac_distance
0         12.681822

What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [ ]:
# What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.
query = """
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, engine)
df.head()

2022-09-02 22:10:18,889 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

INFO:sqlalchemy.engine.Engine:
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

2022-09-02 22:10:18,896 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095
4         LPS          5.368421

Repeat the previous query, but only display results where the average distance is at least 10 km.

In [ ]:
# Repeat the previous query, but only display results where the average distance is at least 10 km.
query = """
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, engine)
df

2022-09-02 22:11:54,168 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

INFO:sqlalchemy.engine.Engine:
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

2022-09-02 22:11:54,179 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095

Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [ ]:
# Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.
query = """
SELECT *
FROM schools as sd
JOIN facilities as sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode
LIMIT 2
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, engine)
df

2022-09-02 22:16:06,646 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools as sd
JOIN facilities as sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode
LIMIT 2

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM schools as sd
JOIN facilities as sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode
LIMIT 2

2022-09-02 22:16:06,658 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [ ]:
# Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.
query = """
SELECT *
FROM schools
JOIN facilities
WHERE schools.EstablishmentCode = facilities.EstablishmentCode
AND schools.SchoolLevel = "PS"
AND facilities.IsLibraryAvailable = "Not Available"
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, engine)
df.head()

2022-09-02 22:19:27,612 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools
JOIN facilities
WHERE schools.EstablishmentCode = facilities.EstablishmentCode
AND schools.SchoolLevel = "PS"
AND facilities.IsLibraryAvailable = "Not Available"

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM schools
JOIN facilities
WHERE schools.EstablishmentCode = facilities.EstablishmentCode
AND schools.SchoolLevel = "PS"
AND facilities.IsLibraryAvailable = "Not Available"

2022-09-02 22:19:27,621 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,5,East,S0856,EASWARAMMA SAI GURUKOOL ACCADEMY,Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),RALUNG,Gangtok,...,EASWARAMMA SAI GURUKOOL ACCADEMY,Not Available,0,Available,2,Available,Not Available,0,Not Available,Not Available
1,8,East,S0876,NEW GARDEN BOARDING SCHOOL (SAJONG),Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,NEW GARDEN BOARDING SCHOOL (SAJONG),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Available
2,15,East,S1230,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Not Available,0,Not Available,0,Not Available,Available,1,Not Available,Not Available
3,16,East,S0768,SAWNEY GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,SAWNEY,Gangtok,...,SAWNEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Available,Available,1,Not Available,Not Available
4,20,East,S0131,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,UPPER PACHAK,Gangtok,...,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available

**Your Turn**

Build off the previous query, but order the results alphabetically by name.

In [ ]:
# Build off the previous query, but order the results alphabetically by name.
query = """
SELECT *
FROM schools
JOIN facilities
WHERE schools.EstablishmentCode = facilities.EstablishmentCode
AND schools.SchoolLevel = "PS"
AND facilities.IsLibraryAvailable = "Not Available"
ORDER BY schools.EstablishmentName ASC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, engine)
df.head()


# Read the sql query into pandas to view the results

2022-09-02 22:20:46,754 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools
JOIN facilities
WHERE schools.EstablishmentCode = facilities.EstablishmentCode
AND schools.SchoolLevel = "PS"
AND facilities.IsLibraryAvailable = "Not Available"
ORDER BY schools.EstablishmentName ASC

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM schools
JOIN facilities
WHERE schools.EstablishmentCode = facilities.EstablishmentCode
AND schools.SchoolLevel = "PS"
AND facilities.IsLibraryAvailable = "Not Available"
ORDER BY schools.EstablishmentName ASC

2022-09-02 22:20:46,761 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,1219,West,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Yuksom Brc,Melli Government Secondary School,PS,Private (Unaided),RIMBI/ SINGLITAM BUSTY,Gyalshing,...,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,54,East,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Gangtok Brc,Enchey Government Senior Secondary School,PS,State Govt.,10TH MILE KARPONANG,Gangtok,...,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,816,South,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Temi Brc,Namphing Government Junior High School,PS,State Govt.,AAPGAZI,Namchi,...,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
3,1102,West,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Soreng Brc,Chumbong Government Secondary School,PS,State Govt.,AARUBOTEY,Soreng,...,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
4,209,East,S0108,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Pakyong Brc,Aho-Shanti Government Secondary School,PS,State Govt.,AHO-YANGTAM,Pakyong,...,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Available,1,Not Available,Not Available