<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/week12/sql_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Load the data
school = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQx3gMRpWbOuReQgWPAKQpMZtqrlrHwOeTUwkWnh8ANvKBi8ItwCBNk5Zrtged021WwgoczTkaqnvAJ/pub?output=csv')
facility = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRki7gKY1pRqDvrratwkMWJA0ly4Z390oEoeS0EaDhcNmzSfXqxD13R_Fj7AnJKnDoghODI8SVSNS1L/pub?output=csv')
display(school.head())
facility.head()

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.
2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,West Pandam,...,37257.38681,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",NaN,Class 1,Class 10,C.B.S.E.
3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,West Pandam,...,28856,60.0,6.0,6.0,Recognized,State Govt.,NaN,Class 1,Class 8,NaN
4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,West Pandam,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,NaN,Class 1,Class 10,C.B.S.E.

,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,S0237,4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
3,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
4,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available

In [ ]:
# Create sqlite engine
engine = create_engine('sqlite:///school.db', echo = True)
# Create connection to engine
conn = engine.connect()

In [ ]:
# Add the data frames as tables in sqlite
sqlite_table1 = "school_details"
school.to_sql(sqlite_table1, conn, if_exists = 'fail')
sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists = 'fail')

2022-09-05 02:02:04,199 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("school_details")

2022-09-05 02:02:04,210 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-09-05 02:02:04,216 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("school_details")

2022-09-05 02:02:04,218 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-09-05 02:02:04,229 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)

2022-09-05 02:02:04,238 INFO sqlalchemy.engine.Engine [no key 0.00867s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00867s] ()

2022-09-05 02:02:04,255 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-09-05 02:02:04,260 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_school_details_index ON school_details ("index")

2022-09-05 02:02:04,263 INFO sqlalchemy.engine.Engine [no key 0.00329s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00329s] ()

2022-09-05 02:02:04,277 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-09-05 02:02:04,289 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-09-05 02:02:04,356 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2022-09-05 02:02:04,361 INFO sqlalchemy.engine.Engine [generated in 0.05385s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38681', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66806', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66806', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))

INFO:sqlalchemy.engine.Engine:[generated in 0.05385s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38681', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66806', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66806', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))

2022-09-05 02:02:04,388 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-09-05 02:02:04,413 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("school_facility_details")

2022-09-05 02:02:04,417 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-09-05 02:02:04,423 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("school_facility_details")

2022-09-05 02:02:04,425 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-09-05 02:02:04,432 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)

2022-09-05 02:02:04,435 INFO sqlalchemy.engine.Engine [no key 0.00266s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00266s] ()

2022-09-05 02:02:04,448 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-09-05 02:02:04,451 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")

2022-09-05 02:02:04,453 INFO sqlalchemy.engine.Engine [no key 0.00257s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00257s] ()

2022-09-05 02:02:04,471 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-09-05 02:02:04,486 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-09-05 02:02:04,525 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2022-09-05 02:02:04,530 INFO sqlalchemy.engine.Engine [generated in 0.02965s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))

INFO:sqlalchemy.engine.Engine:[generated in 0.02965s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))

2022-09-05 02:02:04,545 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
# SQL query
sql = """
SELECT AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details
"""

# Read the sql query into pandas
df = pd.read_sql_query(sql, engine)
df.head()

2022-09-05 02:02:08,574 INFO sqlalchemy.engine.Engine
SELECT AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details

INFO:sqlalchemy.engine.Engine:
SELECT AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details

2022-09-05 02:02:08,577 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

   avg_bac_distance
0         12.681822

In [ ]:
# SQL query
sql = """
SELECT SchoolLevel, AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC;
"""

# Read the sql query into pandas
df = pd.read_sql_query(sql, engine)
df.head()

2022-09-05 02:02:10,532 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC;

INFO:sqlalchemy.engine.Engine:
SELECT SchoolLevel, AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC;

2022-09-05 02:02:10,537 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095
4         LPS          5.368421

In [ ]:
# SQL query
sql = """
SELECT SchoolLevel, AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC;
"""

# Read the sql query into pandas
df = pd.read_sql_query(sql, engine)
df.head()

2022-09-05 02:42:04,845 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance > 10
ORDER BY avg_bac_distance DESC;

INFO:sqlalchemy.engine.Engine:
SELECT SchoolLevel, AVG (`BACDistance (in Km)`) as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance > 10
ORDER BY avg_bac_distance DESC;

2022-09-05 02:42:04,852 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095

In [ ]:
# SQL query
sql = """
SELECT *
FROM school_details sd 
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
LIMIT 2;
"""

# Read the sql query into pandas
df = pd.read_sql_query(sql, engine)
df.head()

2022-09-05 03:10:26,592 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details sd
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
LIMIT 2;

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM school_details sd
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
LIMIT 2;

2022-09-05 03:10:26,602 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

In [ ]:
# SQL query
sql = """
SELECT *
FROM school_details sd 
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = 'PS' AND sfd.IsLibraryAvailable != 'Available';
"""

# Read the sql query into pandas
df = pd.read_sql_query(sql, engine)
df.head()

2022-09-05 03:11:56,272 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details sd
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = 'PS' AND sfd.IsLibraryAvailable != 'Available';

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM school_details sd
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = 'PS' AND sfd.IsLibraryAvailable != 'Available';

2022-09-05 03:11:56,280 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,5,East,S0856,EASWARAMMA SAI GURUKOOL ACCADEMY,Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),RALUNG,Gangtok,...,EASWARAMMA SAI GURUKOOL ACCADEMY,Not Available,0,Available,2,Available,Not Available,0,Not Available,Not Available
1,8,East,S0876,NEW GARDEN BOARDING SCHOOL (SAJONG),Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,NEW GARDEN BOARDING SCHOOL (SAJONG),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Available
2,15,East,S1230,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Not Available,0,Not Available,0,Not Available,Available,1,Not Available,Not Available
3,16,East,S0768,SAWNEY GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,SAWNEY,Gangtok,...,SAWNEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Available,Available,1,Not Available,Not Available
4,20,East,S0131,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,UPPER PACHAK,Gangtok,...,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available

In [ ]:
# SQL query
sql = """
SELECT *
FROM school_details sd 
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = 'PS' AND sfd.IsLibraryAvailable != 'Available'
ORDER BY sd.EstablishmentName;
"""

# Read the sql query into pandas
df = pd.read_sql_query(sql, engine)
df.head()

2022-09-05 03:12:24,741 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details sd
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = 'PS' AND sfd.IsLibraryAvailable != 'Available'
ORDER BY sd.EstablishmentName;

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM school_details sd
INNER JOIN school_facility_details sfd
ON sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = 'PS' AND sfd.IsLibraryAvailable != 'Available'
ORDER BY sd.EstablishmentName;

2022-09-05 03:12:24,767 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,1219,West,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Yuksom Brc,Melli Government Secondary School,PS,Private (Unaided),RIMBI/ SINGLITAM BUSTY,Gyalshing,...,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,54,East,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Gangtok Brc,Enchey Government Senior Secondary School,PS,State Govt.,10TH MILE KARPONANG,Gangtok,...,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,816,South,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Temi Brc,Namphing Government Junior High School,PS,State Govt.,AAPGAZI,Namchi,...,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
3,1102,West,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Soreng Brc,Chumbong Government Secondary School,PS,State Govt.,AARUBOTEY,Soreng,...,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
4,209,East,S0108,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Pakyong Brc,Aho-Shanti Government Secondary School,PS,State Govt.,AHO-YANGTAM,Pakyong,...,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Available,1,Not Available,Not Available