<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/renaming_deleting_and_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from google.colab import drive
import numpy as np
import pandas as pd
path = '/content/drive/MyDrive/Coding Dojo/02 Week 2: Pandas/RailsToTrails_National Count Data_week.xlsx'
bike_df = pd.read_excel(path)

In [18]:
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [19]:
bike_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], inplace=True)
bike_df.rename(columns={'Unnamed: 6': 'percent_change'}, inplace=True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [24]:
bike_df.isna().sum()
missing_counts = bike_df['2021 Counts'].isna().sum()
print(f"There are {missing_counts} missing values in the dataset.")

There are 52 missing values in the dataset.

In [28]:
bike_df['2021 Counts'].fillna(0, inplace=True)

In [31]:
# The only thing I could notice with the name of the 2019 counts (31 counters) column is that
# there was some whitespace at the beginning of the name.
bike_df.rename(columns={' 2019 counts (31 counters)': 'counts_2019'}, inplace=True)

In [36]:
# Better fix the other one while were at it!
bike_df.rename(columns={' 2020 counts (31 counters)': 'counts_2020'}, inplace=True)

In [37]:
bike_df.columns

Index(['Timeframe', 'Week of', 'counts_2019', 'counts_2020', '2021 Counts',
       'Change 2019-2020', 'percent_change'],
      dtype='object')