<a href="https://colab.research.google.com/github/mvince33/Coding-Dojo/blob/main/project2/project2_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2
- Michael Vincent

## Part 1

In [2]:
# Imports
import numpy as np
import pandas as pd

### Data Set 1

1. My first choice of data set is the "[Secondary Mushroom Dataset](https://archive.ics.uci.edu/ml/datasets/Secondary+Mushroom+Dataset)" data set from UCI

2. This data consisits of attributes of mushrooms.

3. The target will be whether the mushroom is poisonous or not.

4. This is a classification problem.

5. This data set has 20 features

6. There are 61069 rows in the data set.

7. There are missing features so I will have to decide whether to drop the missing rows or use an imputing strategy. Some features have thousands of missing values which could pose some challenges. There are quite a few features with no missing values so I will still be able to apply the techniques we've covered to this data set.

In [3]:
# Load the data
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSu_3xbzvwqg6MpBKKDB3u8YHK31h6CTK5z1MClZorpRvHz4gTYJdv3IrrdSzwBA3gHuxlY7hsShEpZ/pub?output=csv'
df = pd.read_csv(url)
df.head()

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,...,stem-root,stem-surface,stem-color,veil-type,veil-color,has-ring,ring-type,spore-print-color,habitat,season
0,p,15.26,x,g,o,f,e,NaN,w,16.95,...,s,y,w,u,w,t,g,NaN,d,w
1,p,16.60,x,g,o,f,e,NaN,w,17.99,...,s,y,w,u,w,t,g,NaN,d,u
2,p,14.07,x,g,o,f,e,NaN,w,17.80,...,s,y,w,u,w,t,g,NaN,d,w
3,p,14.17,f,h,e,f,e,NaN,w,15.77,...,s,y,w,u,w,t,p,NaN,d,w
4,p,14.64,x,h,o,f,e,NaN,w,16.53,...,s,y,w,u,w,t,p,NaN,d,w

In [5]:
# Explore the data
print('There are ', df.shape[0], 'data points, and', (df.shape[1] - 1), 'features.')
print('There are', df.duplicated().sum(), 'duplicates in the data set.')
print('There are', df.isna().sum().sum(), 'missing values in the data set.')

df.isna().sum()

There are  61069 data points, and 20 features.
There are 146 duplicates in the data set.
There are 307463 missing values in the data set.

class                       0
cap-diameter                0
cap-shape                   0
cap-surface             14120
cap-color                   0
does-bruise-or-bleed        0
gill-attachment          9884
gill-spacing            25063
gill-color                  0
stem-height                 0
stem-width                  0
stem-root               51538
stem-surface            38124
stem-color                  0
veil-type               57892
veil-color              53656
has-ring                    0
ring-type                2471
spore-print-color       54715
habitat                     0
season                      0
dtype: int64

### Data Set 2

1. My second choice of data set is the ["Cervical cancer (Risk Factors)"](https://archive.ics.uci.edu/ml/datasets/Cervical+cancer+%28Risk+Factors%29#) data set from UCI. 

2. This dataset consists of information about patients

3. The target will be whether or not a person has cervical cancer.

4. This is a classification problem. 

5. This data set has 35 features.

6. This data set has 858 data points.

7. There are no missing values, but there are some inconistent labels that will need to be dealt with.

In [11]:
# Load the data
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQ433NVfMv-r932OU8uHTz62jta6vZVW9D4UfnsVhNMO8u1ey5WCQlacyq0-Z32Axny_YiK2v4NpwCc/pub?output=csv'
df = pd.read_csv(url)
df.head()

,Age,Age.Group,Gender,Locality,Marital status,Life.Style,Sleep,Category,Depression,Hyperlipi,...,oldpeak,slope,ca,thal,num,SK,SK.React,Reaction,Mortality,Follow.Up
0,45,41-50,Female,RURAL,MARRIED,NO,NO,FREE,YES,YES,...,3.0,2,0,7,2,1,NO,0,0,60
1,51,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,1.2,2,0,7,2,1,NO,0,0,15
2,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,3.4,2,0,3,2,1,NO,0,0,6
3,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,2.0,2,1,7,3,1,NO,0,0,52
4,56,51-60,Female,RURAL,MARRIED,YES,NO,FREE,YES,YES,...,4.0,3,2,7,3,1,NO,0,0,34

In [13]:
# Explore the data
print('There are ', df.shape[0], 'data points, and', (df.shape[1] - 1), 'features.')
print('There are', df.duplicated().sum(), 'duplicates in the data set.')
print('There are', df.isna().sum().sum(), 'missing values in the data set.')

for col in df.columns:
  print(df[col].value_counts())

There are  368 data points, and 59 features.
There are 214 duplicates in the data set.
There are 0 missing values in the data set.
55    35
50    35
54    30
62    27
52    26
63    18
58    18
56    18
60    17
61    15
51    11
45    11
57    10
40    10
53    10
59     9
65     8
66     7
24     6
67     6
35     5
47     5
46     5
44     5
38     5
25     5
64     4
70     3
68     2
69     1
77     1
Name: Age, dtype: int64
51-60    184
61-70     91
41-50     61
31-40     20
21-30     12
Name: Age.Group, dtype: int64
Male      285
Female     83
Name: Gender, dtype: int64
URBAN    234
RURAL    134
Name: Locality, dtype: int64
MARRIED    365
SINGLE       3
Name: Marital status, dtype: int64
YES    217
NO     151
Name: Life.Style, dtype: int64
NO     224
YES    144
Name: Sleep, dtype: int64
FREE    331
PAID     37
Name: Category, dtype: int64
YES    351
NO      17
Name: Depression, dtype: int64
YES    341
NO      27
Name: Hyperlipi, dtype: int64
YES    195
NO     173
Name: Smoking, dtype: int64
NO     296
YES     72
Name: Family.History, dtype: int64
0    296
1     72
Name: F.History, dtype: int64
0    198
1    170
Name: Diabetes, dtype: int64
YES    201
NO     167
Name: HTN, dtype: int64
NO     357
YES     11
Name: Allergies, dtype: int64
90.60     47
120.80    46
130.80    45
110.70    44
100.70    37
140.90    30
100.60    24
140.70    16
160.10    12
80.50     11
160.90    10
190.11    10
160.70    10
150.90    10
120.90     6
130.90     5
120.70     5
Name: BP, dtype: int64
0    356
1     12
Name: Thrombolysis, dtype: int64
563    28
166    23
146    20
251    17
85     16
96     16
363    16
152    16
127    12
320    12
129    11
210    10
260    10
60     10
115    10
280    10
213    10
164    10
117    10
426     7
135     7
102     7
86      7
392     7
84      7
125     6
291     6
110     6
323     6
208     6
89      5
131     5
348     5
153     4
512     4
137     2
463     2
231     2
Name: BGR, dtype: int64
28.0     27
30.0     26
37.0     26
33.0     23
31.0     22
42.0     20
40.0     17
104.0    16
78.0     16
25.0     16
26.0     16
35.0     16
55.0     15
27.0     14
36.0     12
394.0    10
17.0      7
24.0      7
162.0     7
61.0      7
38.0      7
39.0      7
2.3       6
41.0      6
54.0      6
46.0      6
43.0      5
47.0      5
Name: B.Urea, dtype: int64
0.90     111
1.00      71
0.80      68
1.20      28
1.10      24
4.00      16
22.90     10
1.08       9
0.70       7
2.70       7
1.60       7
0.60       6
1.30       4
Name: S.Cr, dtype: int64
139    58
137    43
135    37
138    36
144    28
136    23
142    20
141    19
130    16
146    16
134    15
133    13
132    13
140    12
143     7
129     6
145     6
Name: S.Sodium, dtype: int64
3.9    74
4.0    58
4.2    42
4.3    41
4.4    35
3.8    21
4.5    16
5.3    16
4.9    13
4.6    12
3.7    10
4.8    10
4.7     9
3.3     7
4.1     4
Name: S.Potassium, dtype: int64
100    56
106    49
104    39
98     37
110    34
105    32
112    23
103    20
102    18
107    17
108    16
96     11
90     10
109     6
Name: S.Chloride, dtype: int64
149     20
75      16
322     16
146     16
174     14
52      13
3877    12
167     10
319     10
66      10
872     10
1092    10
446     10
230     10
2920    10
143     10
110     10
203     10
61      10
1209     9
287      7
684      7
221      7
130      7
163      7
4289     7
135      7
390      7
316      6
357      6
72       6
188      6
159      6
124      6
583      6
65       6
725      5
387      5
336      5
95       4
196      4
89       2
693      2
111      1
Name: C.P.K, dtype: int64
22     32
21     30
18     26
30     20
14     20
45     19
52     16
50     14
39     13
299    12
76     11
46     10
51     10
23     10
113    10
40     10
32     10
15     10
296    10
58     10
20     10
43      7
505     7
75      7
49      6
79      6
36      6
35      5
85      5
16      4
24      2
Name: CK.MB, dtype: int64
11     35
25     35
30     30
10     30
13     26
12     24
6      22
19     20
16     18
27     18
9      17
154    16
24     13
5      10
14     10
20     10
87      7
104     7
51      6
15      6
66      4
22      4
Name: ESR, dtype: int64
9800     26
6900     23
13500    23
7400     22
7900     20
7800     20
12200    20
17600    20
10900    18
10400    14
14400    13
7600     11
9000     10
12900    10
17000    10
12800    10
5800     10
6200     10
13800     7
14800     7
19590     7
9900      7
15800     7
12600     6
10080     6
11400     6
15100     6
14000     5
14900     5
10300     5
15000     4
Name: WBC, dtype: int64
5.12    30
4.14    22
6.15    22
5.40    20
4.83    20
4.41    20
4.26    17
3.90    16
4.17    14
5.46    13
6.35    12
5.70    12
5.50    11
5.28    10
6.14    10
5.94    10
5.56    10
5.30    10
5.65    10
5.74     7
4.40     7
5.00     7
3.46     7
6.00     7
4.56     7
5.20     6
5.26     6
4.36     6
4.53     5
5.41     5
6.98     5
3.70     4
Name: RBC, dtype: int64
14.1    27
12.3    26
15.5    25
16.5    22
12.7    20
15.7    20
10.0    16
11.7    16
15.2    16
13.7    14
16.9    12
10.3    11
14.3    11
15.4    10
14.7    10
14.8    10
18.0    10
15.0     7
11.6     7
9.1      7
10.1     7
15.6     7
14.5     7
11.2     6
16.3     6
13.9     6
13.3     6
11.5     6
15.3     6
13.6     5
16.6     5
10.8     4
Name: Hemoglobin, dtype: int64
0.36    42
0.45    42
0.47    34
0.42    33
0.29    30
0.40    27
0.46    25
0.51    22
0.43    17
0.44    17
0.33    15
0.34    13
0.50    12
0.35    12
0.41    10
0.48     6
0.52     5
0.54     4
0.32     2
Name: P.C.V, dtype: int64
87.0    46
78.0    37
82.0    26
83.0    24
86.0    24
82.1    22
74.4    16
84.0    16
74.0    15
96.0    14
79.0    12
60.0    11
83.6    10
86.5    10
83.7    10
91.1     7
77.7     7
79.7     7
65.0     7
85.0     7
86.8     7
76.6     6
77.0     6
72.0     6
81.0     6
78.1     5
93.9     4
Name: M.C.V, dtype: int64
28.0    74
25.0    43
29.0    30
33.0    30
27.0    22
25.7    22
26.9    22
26.0    12
18.0    11
23.0    11
24.0    10
30.2    10
27.8    10
28.9    10
24.6     7
20.0     7
30.8     7
27.2     7
29.3     7
28.6     7
30.1     5
32.4     4
Name: M.C.H, dtype: int64
0.33    134
0.32     74
0.34     58
0.35     47
0.31     29
0.22     11
0.38     10
0.39      5
Name: M.C.H.C, dtype: int64
288000    23
236000    22
237000    20
183000    20
187000    20
281000    20
211000    16
395000    16
222000    14
244000    12
171000    11
235000    10
306000    10
186000    10
178000    10
459000    10
192000    10
347000     7
297000     7
265000     7
20000      7
287000     7
277000     7
284000     7
290000     6
136000     6
217000     6
214000     6
391000     6
239000     6
153000     6
268000     5
238000     5
261000     5
433000     4
228000     4
Name: PLATELET_COUNT, dtype: int64
0.80     35
0.60     30
0.75     29
0.50     27
0.85     20
0.66     20
0.72     18
0.81     17
0.71     16
0.63     16
0.90     13
0.70     13
0.36     12
0.76     11
0.44     10
0.65     10
83.00    10
0.73      7
0.91      7
0.82      7
0.55      6
0.47      6
0.74      6
0.57      6
0.78      6
0.69      5
0.79      5
Name: NEUTROPHIL, dtype: int64
0.20    49
0.25    34
0.17    34
0.15    34
0.33    20
0.10    20
0.31    16
0.28    15
0.21    14
0.45    13
0.54    12
0.18    11
0.42    10
0.14    10
0.49    10
0.26    10
0.43    10
0.35    10
0.05     7
0.07     7
0.40     6
0.08     6
0.32     6
0.22     4
Name: LYMPHO, dtype: int64
0.03    120
0.04     95
0.02     58
0.01     50
0.06     23
0.08     10
0.05      6
0.07      6
Name: MONOCYTE, dtype: int64
2    178
3    104
1     64
4     12
5     10
Name: EOSINO, dtype: int64
no                                  201
HTN                                  53
HTN, DM                              19
PND, ORTHOPENIA                      16
IHD, SOB                             10
DM                                   10
ACS                                  10
IHD, HTN                              7
LV dysfunction                        7
HCV, IHD                              6
CHB, RV INFARCT                       6
ORTHOPENIA, PND                       6
ICMP WITH EF= 30%,PULMONAR ODEMA      6
SEIZARIAN, HYSTECTOMY.                5
PULMONARY ODEMA                       2
DM,M.I                                2
IHD,DM                                2
Name: Others, dtype: int64
Chest pain,                                      84
Chest pain, SWEATING                             23
Chest pain,vomiting, sweating                    17
SOB FROM 1 DAY                                   16
Chest pain, VOMITING                             16
CENTRAL Chest pain,                              12
Chest pain,nausea,vertigo,sweating,headache      10
Chest pain,Sweating,                             10
Chest pain,COLD SWEATING, VOMITING               10
Chest pain,NAUSEA, SWELLOWING                    10
Chest pain, 2 HR                                 10
Chest pain,heart sinking, vomiting               10
Chest pain 1 hr                                  10
Chest pain,SOB                                   10
Central Chest pain,                               9
Chest pain,SOB, Cold sweating                     7
Chest pain, TIGHTNESS                             7
Chest pain, VERTIGO,SWEATING                      7
Chest pain,SWEATING, NAUSEA                       7
Chest pain for 2 to 3 hr                          7
Chest pain,COUGH                                  7
Chest pain,sweating,vomiting                      6
Chest pain,SOB, HEART SINKING , PALPITATION       6
Central Chest pain,SOB, Sweating                  6
Chest pain from 3 hr                              6
Chest pain4 HR, SWEATING                          6
Chest pain, 4 HR                                  6
SOB, DIZZINESS, CHEST PAIN,NAUSEA,DIAPHORESIS     6
Chest pain,VOMITING.,SOB                          5
Chest pain, Sweating, SOB                         5
Chest pain,COLD SWEATING,                         5
Chest pain, SOB,                                  2
Chest pain,VOMITING. SWEATING                     2
Chest pain, SWEATING,VOMITING                     2
Chest pain, SOB,COLD SWEATING                     2
Chest pain, COLD SWEATING                         2
Chest pain 6 HR                                   2
Name: CO, dtype: int64
AC I/W M.I                     44
A/W M.I                        35
I/W M.I                        20
Acute I/W M.I                  20
INF WALL M.I                   17
ACS, NSTEMI                    16
NSTEM.I                        12
A/S WALL M.I                   11
M.I ,ACS                       10
A/C, A/W M.I                   10
AC. WALL M.I                   10
STEMI                          10
Ac I/P M.Iwith RV Infarct      10
ACUTE I/W M.I                  10
Inf. Wall M.I                  10
POSTERIOR WALL M.I             10
A/CI/W M.I                      7
AC. I/W M.I                     7
ACS. ACUTE LEFT WALL M.I        7
ST-T ELEVATION POST SK          7
A/L WALL M.I                    7
Acute and Ant Wall MI, ACS.     7
EXT. ACUTE WALL M.I             7
AC I/W M.I (RV) RE. M.I         7
A LATERAL WALL M.I              6
old I/W M.I, ACS.               6
Ext. Ant wall M.I               6
SEVERE MR, MVR                  6
I/P M.I                         6
CARDIOGENIC SHOCK               6
A/S M.I                         5
Inf wall M.I                    4
AC. A/L M.I                     4
AC. I/W M.I, SHOCK              2
AC. A/W M.I                     2
Inf wall RE. M.I                2
AC.LBBB                         2
Name: Diagnosis, dtype: int64
NO     356
YES     12
Name: Hypersensitivity, dtype: int64
4    298
3     37
1     18
2     15
Name: cp, dtype: int64
110    42
140    39
120    39
150    29
130    27
132    17
125    15
128    14
160    14
124    14
112    12
118     8
145     8
108     8
152     7
138     7
144     6
126     6
136     6
178     5
142     5
122     5
158     5
123     5
192     5
134     3
170     3
180     2
100     2
200     1
174     1
165     1
154     1
146     1
114     1
164     1
117     1
148     1
135     1
Name: trestbps, dtype: int64
282    12
197    10
249     9
231     9
212     8
       ..
216     1
270     1
300     1
259     1
304     1
Name: chol, Length: 97, dtype: int64
0    316
1     52
Name: fbs, dtype: int64
2    196
0    169
1      3
Name: restecg, dtype: int64
132    17
144    15
126    13
160    12
161    11
       ..
115     1
164     1
133     1
88      1
71      1
Name: thalach, Length: 71, dtype: int64
1    207
0    161
Name: exang, dtype: int64
0.0    82
1.0    34
1.2    33
2.0    17
1.8    17
1.4    15
2.8    14
0.8    14
1.6    13
2.6    11
3.6    11
0.6    10
2.2     8
1.9     7
4.0     7
0.1     7
0.9     6
3.2     6
2.5     6
4.2     5
6.2     5
3.8     5
5.6     5
2.1     5
3.1     5
3.0     4
0.5     3
0.2     3
3.4     3
2.4     2
0.4     1
0.3     1
4.4     1
1.5     1
2.9     1
Name: oldpeak, dtype: int64
2    242
1     92
3     34
Name: slope, dtype: int64
0    152
1    108
2     63
3     45
Name: ca, dtype: int64
7    242
3     98
6     28
Name: thal, dtype: int64
1    158
3    109
2     70
4     31
Name: num, dtype: int64
1    362
0      6
Name: SK, dtype: int64
COUGH.BLEEDING      146
NO                   93
SKIN.BLEEDING        52
BODY.PAIN            28
STOMACH.BLEEDING     25
LUNGS                16
NAUSEA.TEMP           8
Name: SK.React, dtype: int64
1    275
0     93
Name: Reaction, dtype: int64
0    288
1     80
Name: Mortality, dtype: int64
32    71
15    60
36    39
29    34
52    33
34    16
60    13
12    12
5     11
26    11
7     10
6      8
49     8
4      7
9      7
54     7
57     7
8      5
3      5
2      2
1      1
19     1
Name: Follow.Up, dtype: int64